@import "tailwindcss";

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  @apply bg-black;
}

@theme {
  --font-fancy: "Old Standard TT", serif;
  --font-body: "Roboto", sans-serif;
  --font-display: "Exo 2", sans-serif;
  --color-accent: greenyellow;
  --color-secondary-text: oklch(70.7% 0.022 261.325);
  --color-accent-hover: oklch(0.945 0.129 101.54);
}

.bg-hover {
  @apply hover:bg-gray-700 rounded-md p-1 cursor-pointer;
}