section {
    margin-top: 4rem;
}

section > h2 {
    font-weight: 300;
    font-size: 2rem;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.techstack-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}